<!doctype html>
<html lang="en">
<%- include('head', { title: city }) %>
<body>

<!-- Navigation -->
<%- include('nav') %>
<!-- End Navigation -->

<!-- Search -->
<%- include('search') %>
<!-- End Search -->

<section>              
<div class="container">              
    <div class="row" class="cities"></div>
      <div class="col-md-12" style="margin-top: 0px; padding: 10px">                 
        <h1 style="text-align: center; font-weight: 900; font-size: 40px; color: #00a7b9">Jensen Beach Homes & Condos<br></h1>
      </div> 
</div>
</section>

<section>
<div class="container" style="margin-top:40px;">              
        <div class="row" " class="cities"></div>
          <div class="col-md-12" style="font-size: 32px; margin-top: 0px; padding: 1px">                 
            <p style="text-align: center; font-weight: 900; font-size: 40px; color: #909090">Jensen Beach Communities</p>                     
          </div> 
    </div>
    </section>                  
    

<!-- Jensen Beach Communities -->
<section>              
<div class="container">
    <div class="row" class="cities" style="color: black;"></div>
    <button class="accordion">Select Community </button>
        
    <div class="panel" >
        <h4>A</h4>
            <ul style="font-size: 20px;">
                <li>
                    <h4><a class="community-links" class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/the-admiral/">Admiral Condos</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/arch-heights/">Arch Heights Homes</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/atlantis/">Atlantis Condos</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/atlantis-a/">Atlantis A Condos</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/atlantis-b/">Atlantis B Condos</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/atlantis-by-the-sea/">Atlantis by the Sea Condos</a></h4>
                </li>
            </ul>

        <h4>B</h4>
            <ul>
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/banyan-terrace/">Banyan Terrace Homes</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/bay-tree/">Bay Tree Homes</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/beach-club-colony/">Beach Club Colony</a></h4>
                </li>
                
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/beacon-21/">Beacon 21 Condos</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/blount-pitchford/">Blount Pitchford Homes</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/blue-diamond/">Blue Diamond Homes</a></h4>
                </li>
                
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/blue-heron/">Blue Heron Homes</a></h4>
                </li>
                
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/brennan-court/">Brennan Court Homes</a></h4>
                </li>
            </ul>

        <h4>C</h4>
            <ul>
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/cinnamon-tree/">Cinnamon Tree Homes</a></h4>
                </li>
                
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/claridge-by-the-sea/">Claridge by the Sea Condos</a></h4>
                </li>
                
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/coconut-way/">Coconut Way Homes</a></h4>
                </li>
                
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/corano-del-rio/">Corano Del Rio Homes</a></h4>
                </li>
                
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/cross-roads-hill/">Cross Roads Hill Homes</a></h4>
                </li>
            </ul>
                   
        <h4>D-G</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/diamond-sands/">Diamond Sands Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/dune-condo/">Dune Condo Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/dune-walk/">Dune Walk Condos</a></h4>
                </li>
                
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/eden’s-refuge/">Eden’s Refuge Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/empress/">Empress Condos</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/fairwinds-cove/">Fairwinds Cove Condos</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/falls-of-jensen-beach/">Falls of Jensen Beach Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/fishermans-haven/">Fishermans Haven Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/gaines-estates/">Gaines Estates Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/glutchs/">Glutchs Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/Green-Turtle-Cove/">Green Turtle Cove Condos</a></h4>
                </li>
            </ul>
                   
        <h4>H</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/henderson-landing/">Henderson Landing Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/holiday-out-at-st-lucie/">Holiday Out At St Lucie Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/holly-creek/">Holly Creek Homes</a></h4>
                </li>
                        
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/hutchinson-island-club/">Hutchinson Island Club Condos</a></h4>
                </li>
            </ul>
                   
        <h4>I</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/indian-ridge/">Indian Ridge Homes</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/indian-river-drive/">Indian River Drive Homes</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/indian-river-gardens/">Indian River Gardens Homes</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/indian-river-landing/">Indian River Landing Condos</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/indian-river-point/">Indian River Point Homes</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/indian-river-villas/">Indian River Villas Condos</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/island-beach-club/">Island Beach Club Condos</a></h4>
                </li>
                        
                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/island-club/">Island Club Condos</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/island-crest/">Island Crest Condos</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/island-dunes-country-club/">Island Dunes Country Club Condos</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/island-dunes-oceanside/">Island Dunes Oceanside condos</a></h4>
                </li>

                <li>
                    <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/island-village/">Island Village Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/islandia/">Islandia Condos</a></h4>
                </li>
                   
            </ul>
                   
        <h4>J-K</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/jensen-beach-club/">Jensen Beach Club Condos</a></h4>
                 </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/jensen-beach-country-club/">Jensen Beach Country Club Homes</a></h4>
                </li>

                 <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/jensen-beach-homesites/">Jensen Beach Homesites Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/jensen-heights/">Jensen Heights Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/jensen-highlands/">Jensen Highlands Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/jensen-park-estates/">Jensen Park Estates Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/jensen-park-villas/">Jensen Park Villas Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" href="https://realestatehomescondos.com/jensen-beach/jensen-village/">Jensen Village (NEW CONSTRUCTION)</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/king-neptune-estates/">King Neptune Estates Homes</a></h4>
                </li>
            </ul>
                   
        <h4>L-M</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/legion-heights/">Legion Heights Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/leilani-heights/">Leilani Heights Homes</a></h4>
                </li>
            </ul>
                   
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/millers/">Millers Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/miramar/">Miramar Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/miramar-ii/">Miramar II Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/miramar-royale/">Miramar Royale Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/mockingbird/">Mockingbird Homes</a></h4>
                </li>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/montego-cove/">Montego Cove Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/moon-river/">Moon River Homes</a></h4>
                </li>
            </ul>
        
        <h4>N-O</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/nettles-island/">Nettles Island Homes</a></h4>
                </li>

                <li>

                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/newport-jensen/">Newport Jensen Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/oak-lane-manor/">Oak Lane Manor Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/oaks-at-indian-river/">Oaks At Indian River Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/ocean-bay-villas/">Ocean Bay Villas Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/ocean-breeze/">Ocean Breeze Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/ocean-dunes/">Ocean Dunes Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/ocean-towers/">Ocean Towers Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/oceana/">Oceana Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/oceanrise/">Oceanrise Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/outrigger harbour/">Outrigger Harbour Condos</a></h4>
                </li>
            </ul>
                   
        <h4>P</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/palmetto-grove/">Palmetto Grove Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pelican-pointe/">Pelican Pointe Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/petermans/">Petermans Homes</a></h4>
                </li>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pine-castle/">Pine Castle Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pine-grove/">Pine Grove Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pine-lake-village/">Pine Lake Village Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pineapple-bluff/">Pineapple Bluff Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pineapple-plantation/">Pineapple Plantation Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pinecrest-lakes/">Pinecrest Lakes Homes</a></h4>
                </li>
                
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pinelake-village/">Pinelake Village Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/pitchford/">Pitchford Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/portofino-of-jensen/">Portofino of Jensen Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/princess-of-hutchinson-island/">Princess of Hutchinson Island Condos</a></h4>
                </li>
            </ul>
                   
        <h4>R</h4>
            <ul>
                <li>
                <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/regency-island-dunes/">Regency Island Dunes Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/renar-river-place/">Renar River Place Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/rigels-cove/">Rigels Cove Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/rio-st-lucie/">Rio St Lucie Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/river-club-condo/">River Club Condo</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/river-terrace/">River Terrace Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/river-vista/">River Vista Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/river-watch/">River Watch Homes</a></h4>
                </li>
            </ul>
                   
        <h4>S</h4>
            <ul>
                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/sago-sands/">Sago Sands Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/sailfish-cove/">Sailfish Cove Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/sand-dollar/">Sand Dollar Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/savanna-highland/">Savanna Highland Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/savanna-hills/">Savanna Hills Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/savanna-oaks/">Savanna Oaks Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/savanna-skyline/">Savanna Skyline Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/savannas-club/">Savannas Club Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/sea-winds/">Sea Winds Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/seaside-of-stuart/">Seaside of Stuart Condos</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/seaview-ter/">Seaview Ter Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/sewalls-landing/">Sewalls Landing Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/skyline/">Skyline Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/skyline-park/">Skyline Park Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/south-jensen-heights/">South Jensen Heights Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/spring-hill/">Spring Hill Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/st-lucie-river-heights/">St Lucie River Heights Homes</a></h4>
                </li>

                <li>
                   <h4><a class="community-links" title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/st-lucie-vista-estates/">St Lucie Vista Estates Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/sugarhill/">Sugarhill Homes</a></h4>
                </li>
            </ul>
                   
        <h4>T</h4>
            <ul>
                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/the-admiral/">The Admiral Condos</a></h4>
                </li>
                        
                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/oaks-at-indian-river/">Oaks At Indian River Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/the-pines/">The Pines Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/timberwick/">Timberwick Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/town-country-estates/">Town Country Estates Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/tradewinds/">Tradewinds Condos</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/venture-harbour/">Venture Harbour Homes</a></h4>
                </li>
            </ul>

        <h4>V-Z</h4>
            <ul>
                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/venture-out/">Venture Out Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/venture-three/">Venture Three Homes</a></h4>
                </li>
                
                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/villa-del-sol/">Villa Del Sol Condos</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/waverly-heights/">Waverly Heights Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/west-jensen-highland/">West Jensen Highland Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/windemere/">Windemere Homes</a></h4>
                </li>

                <li>
                   <h4><a title="Jensen Beach Real Estate| Jensen Beach Homes|Jensen Beach Condos" href="https://realestatehomescondos.com/jensen-beach/windmill-village-by-the-sea/">Windmill Village By The Sea Homes</a></h4>
                </li>
            </ul>
    </div>
</div>
</section>                  


<!-- Jensen Beach Real Estate -->
<div class="container">
    <div class="row" class="cities" style="color: black; margin-top: 50px;">
      <div class="col-md-12" style="padding: 15px">                 
        <h3 style="text-align: center; font-weight: 900; font-size: 40px; color: #909090">Jensen Beach Real Estate<br></h3>
        <p style="text-align: center; font-weight: 900; font-size: 24px; color: black">Select Price Range</p>                     
      </div>
        
        <div class="col-lg-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://realestatehomescondos.com/jensen-beach-real-estate/under-100000" 
            title="Jensen Beach real estate for sale under $100,000.">Under $100,000</nobr></a></button>                      
        </div>
        
        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/100000-200000" 
            title="Jensen Beach real estate for sale $100,000 - $200,000"><nobr>$100,000 - $200,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/200000-300000" 
            title="Jensen Beach real estate for sale $200,000 - $300,000"><nobr>$200,000 - $300,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/300000-400000" 
            title="Jensen Beach real estate for sale $300,000 - $400,000"><nobr>$300,000 - $400,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/400000-500000" 
            title="Jensen Beach real estate for sale"><nobr>$400,000 - $500,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/500000-600000" 
            title="Jensen Beach real estate for sale $500,000 - $600,000"><nobr>$500,000 - $600,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/600000-700000"
            title="Jensen Beach real estate for sale $600,000 - $700,000"><nobr>$600,000 - $700,000</nobr></a></button>                      
        </div>
              
        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/700000-800000" 
            title="Jensen Beach real estate for sale $700,000 - $800,000"><nobr>$700,000 - $800,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
        <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/800000-900000" 
        title="Jensen Beach real estate for sale $800,000 - $900,000"><nobr>$800,000 - $900,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
            <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/900000-1000000" 
            title="Jensen Beach real estate for sale $900,000 - $1,000,000"><nobr>$900,000 - $1,000,000</nobr></a></button>                      
        </div>

        <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-real-estate/over-1000000" 
                title="Jensen Beach real estate for sale over $1,000,000"><nobr>$1,000,000+</nobr></a></button>                      
        </div>
    </div>
</div>
    
<!-- Jensen Beach Homes-->
<div class="container">
        <div class="row" class="cities" style="color: black; margin-top: 50px;">

                <div class="col-md-12" style="margin-bottom: 10px;"></style>                 
                    <h1 style="text-align: center; font-size: 40px; font-weight: 900; color: #909090">Jensen Beach Homes<br></h1>
                    <h4 style="text-align: center; font-weight: 900; font-size: 24px; color: black">Select Price Range </h4>              
                </div> 
            
                <div class="col-lg-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://realestatehomescondos.com/jensen-beach-homes/under-100000" 
                    title="Jensen Beach homes for sale under $100,000.">Under $100,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/100000-200000" 
                    title="Jensen Beach homes for sale"><nobr>$100,000 - $200,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/200000-300000" 
                    title="Jensen Beach homes for sale"><nobr>$200,000 - $300,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/300000-400000" 
                    title="Jensen Beach homes for sale"><nobr>$300,000 - $400,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/400000-500000" 
                    title="Jensen Beach homes for sale"><nobr>$400,000 - $500,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/500000-600000" 
                    title="Jensen Beach homes for sale"><nobr>$500,000 - $600,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/600000-700000"
                    title="Jensen Beach homes for sale"><nobr>$600,000 - $700,000</nobr></a></button>                      
                </div>
                      
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/700000-800000" 
                    title="Jensen Beach homes for sale"><nobr>$700,000 - $800,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/800000-900000" 
                    title="Jensen Beach homes for sale"><nobr>$800,000 - $900,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/900000-1000000" 
                    title="Jensen Beach homes for sale"><nobr>$900,000 - $1,000,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes/over-1000000" 
                    title="Jensen Beach homes for sale"><nobr>$1,000,000+</nobr></a></button>                      
                </div>

                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-pool-homes/" 
                    title="Jensen Beach pool homes for sale"><nobr>Pool Homes</nobr></a></button>                      
                </div>

                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-waterfront-homes/" 
                    title="Jensen Beach pool homes for sale"><nobr>Waterfront Homes</nobr></a></button>                      
                </div>
                
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-homes-55+-communities/" 
                    title="Jensen Beach pool homes for sale"><nobr>Age Restricted (55+)</nobr></a></button>                      
                </div>
            </div>   
</div>

<!-- Jensen Beach Condos -->
<div class="container">
    <div class="row" class="cities" style="color: black;margin-top: 50px;">

                <div class="col-md-12" style="margin-bottom: 10px;"></style>                 
                    <h2 style="text-align: center; font-size: 40px; font-weight: 900; color: #909090">Jensen Beach Condominiums</h2>
                    <h4 style="text-align: center; font-weight: 900; font-size: 24px; color: black">Select Price Range </h4>              
                </div> 
            
                <div class="col-lg-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://realestatehomescondos.com/jensen-beach-condos/under-100000" 
                    title="Jensen Beach condos for sale under $100,000">Under $100,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/100000-200000" 
                    title="Jensen Beach condos for sale $100,000 - $200,000"><nobr>$100,000 - $200,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/200000-300000" 
                    title="Jensen Beach condos for sale $200,000 - $300,000"><nobr>$200,000 - $300,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/300000-400000" 
                    title="Jensen Beach condos for sale $300,000 - $400,000"><nobr>$300,000 - $400,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/400000-500000" 
                    title="Jensen Beach condos for sale $400,000 - $500,000"><nobr>$400,000 - $500,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/500000-600000" 
                    title="Jensen Beach condos for sale $500,000 - $600,000"><nobr>$500,000 - $600,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/600000-700000"
                    title="Jensen Beach condos for sale $600,000 - $700,000"><nobr>$600,000 - $700,000</nobr></a></button>                      
                </div>
                      
                <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/700000-800000" 
                    title="Jensen Beach condos for sale $700,000 - $800,000"><nobr>$700,000 - $800,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/800000-900000" 
                title="Jensen Beach condos for sale $800,000 - $900,000"><nobr>$800,000 - $900,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/900000-1000000" 
                    title="Jensen Beach condos for sale $900,000 - $1,000,000"><nobr>$900,000 - $1,000,000</nobr></a></button>                      
                </div>
        
                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                    <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/over-1000000" 
                    title="Jensen Beach condos for sale over $1,000,000"><nobr>$1,000,000+</nobr></a></button>                      
                </div>

                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                        <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/waterfront" 
                        title="Jensen Beach waterfront condominiums"><nobr>Waterfront Condos</nobr></a></button>                      
                </div>

                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                        <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/oceanfront" 
                        title="Jensen Beach 55+ condo communities"><nobr>55+ Condo Communities</nobr></a></button>                    
                </div>

                <div class="col-md-4 col-sm-6" style="margin-bottom: 10px;">                  
                        <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach-condos/gated-communities" 
                        title="Jensen Beach condos gated communities"><nobr>Gated Communities</nobr></a></button>                      
                </div>    
    </div> 
</div> 

<!-- Footer -->
<%- include('footer') %>

</body>
</html>