<div class="row" class="cities" style="margin-top: 25px; color: black;">
    <div class="col-md-2" style="text-align: center; padding-top: 15px; color: #fff; font-weight: 900; background-color: #000; font-size: 16px;">
        <img src="/static/images/FLRE247-Logo.gif" margin-top="10px" alt="Florida Real Estate 24/7 - Jensen Beach Florida" width="275" height="138" />
        <br>850 NW Federal Way #409<br>Stuart, FL 34994<br>Phone/Text:<br>772.444.2305<br> 
        <a href="/contact-us/">Email Us</a>
        <br>
        <a href="/sitemap_index.xml">Site Map</a>
    </div>
    <div class="col-md-2" style="margin-top: 0px; padding-top: 15px; padding-left: 25px; font-weight: 600; background-color:#000; font-size: 16px;">
        <span color="#00a7b9">Palm Beach County:</span>
        <ul>
            <li><a href="/atlantis/" title="Atlantis homes for sale">Atlantis</a></li>
            <li><a href="/boca-raton/" title="Boca Raton homes for sale">Boca Raton</a></li>
            <li><a href="/boynton-beach/" title="Boynton Beach homes for sale">Boynton Beach</a></li>
            <li><a href="/briny-breezes/" title="Briny Breezes homes for sale">Briny Breezes</a></li>
            <li><a href="/greenacres/" title="Greenacres homes for sale">Greenacres</a></li>
            <li><a href="/gulf-stream/" title="Gulf Stream homes for sale">Gulf Stream</a></li>
            <li><a href="/highland-beach/" title="Highland Beach homes for sale">Highland Beach</a></li>
            <li><a href="/hypoluxo/" title="Hypoluxo homes for sale">Hypoluxo</a></li>
            <li><a href="/juno-beach/" title="Juno Beach homes for sale">Juno Beach</a></li>
            <li><a href="/jupiter/" title="Jupiter homes for sale">Jupiter</a></li>
            <li><a href="/jupiter-inlet/" title="Jupiter Inlet homes for sale">Jupiter Inlet</a></li>
            <li><a href="/lake-clark-shores/" title="Lake Clark Shores homes for sale">Lake Clark Shores</a></li>
            <li><a href="/lake-park/" title="Lake Park homes for sale">Lake Park</a></li>
            <li><a href="/lake-worth/" title="Lake Worth homes for sale">Lake Worth</a></li>
            <li><a href="/lantana/" title="Lantana homes for sale">Lantana</a></li>
        </ul>
    </div>
    <div class="col-md-2"
        style="margin-top: 0px; padding-top: 15px; padding-left: 25px; font-weight: 600; background-color:#000; font-size: 16px;"></style>
        <span color="#00a7b9">Palm Beach County:</span>
        <ul>
            <li><a href="/loxahatchee/" title="Loxahatchee homes for sale">Loxahatchee</a></li>
            <li><a href="/manalapan/" title="Manalapan homes for sale">Manalapan</a></li>
            <li><a href="/north-palm-beach/" title="North Palm Beach homes for sale">North Palm Beach</a></li>
            <li><a href="/ocean-ridge/" title="Ocean Ridge homes for sale">Ocean Ridge</a></li>
            <li><a href="/palm-beach/" title=" homes for sale">Palm Beach</a></li>
            <li><a href="/palm-beach-gardens/" title="Palm Beach Gardens homes for sale">Palm Beach Gardens</a></li>
            <li><a href="/palm-springs/" title="Palm Springs homes for sale">Palm Springs</a></li>
            <li><a href="/riviera-beach/" title="Riviera Beach homes for sale">Riviera Beach</a></li>
            <li><a href="/royal-palm-beach/" title="Royal Palm Beach homes for sale">Royal Palm Beach</a></li>
            <li><a href="/singer-island/" title="Singer Island homes for sale">Singer Island</a></li>
            <li><a href="/south-palm-beach/" title="South Palm Beach homes for sale">South Palm Beach</a></li>
            <li><a href="/tequesta/" title="Tequesta homes for sale">Tequesta</a></li>
            <li><a href="/wellington/" title="Wellington homes for sale">Wellington</a></li>
            <li><a href="/west-palm-beach/" title="West Palm Beach homes for sale">West Palm Beach</a>
        </ul>
    </div>
    <div class="col-md-2" style="margin-top: 0px; padding-top: 15px; padding-left: 25px; font-weight: 600; background-color:#000; font-size: 16px;">
        <span color="#00a7b9">St Lucie County:</span><br>
        <ul>
            <li><a href="/hutchinson-island/" title="Hutchinson Island homes for sale">Hutchinson Island</a></li>
            <li><a href="/port-saint-lucie/" title="Port St Lucie homes for sale">Port St Lucie</a></li>
            <li><a href="/fort-pierce/" title="Fort Pierce homes for sale">Fort Pierce</a>
        </ul>
    </div>
    <div class="col-md-2" style="margin-top: 0px; padding-top: 15px; padding-left: 25px; font-weight: 600; background-color:#000; font-size: 16px;">
        <span color="#00a7b9">Martin County:</span>
        <ul>
            <li><a href="/hobe-sound/" title="Hobe Sound homes for sale">Hobe Sound</a></li>
            <li><a href="/hutchinson-island/" title="Hutchinson Island homes for sale">Hutchinson Island</a></li>
            <li><a href="/jensen-beach/" title="Jensen Beach homes for sale">Jensen Beach</a></li>
            <li><a href="/palm-city/" title="Palm City homes for sale">Palm City</a></li>
            <li><a href="/sewalls-point/" title="Sewall’s Point homes for sale">Sewall's Point</a></li>
            <li><a href="/stuart/" title="Stuart homes for sale">Stuart</a><br>
        </ul>
    </div>
    <div class="col-md-2" style="margin-top: 0px; padding-top: 15px; padding-left: 25px; font-weight: 600; background-color:#000; font-size: 16px;">
        <span color="#00a7b9">Indian River County:</span>
        <ul>
            <li><a href="/fellsmere/" title="Fellsmere homes for sale">Fellsmere</a></li>
            <li><a href="/sebastian/" title="Sebastian homes for sale">Sebastian</a></li>
            <li><a href="/vero-beach/" title="Vero Beach homes for sale">VeroBeach</a></li><br>
        </ul>
    </div>
</div>
