<!doctype html>
<html lang="en">

<head>

    <title>Florida Real Estate 24/7</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/stylesheet.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjscloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


    <!-- My Meta Tags etc. -->
    <meta name="description"
        content="Jensen Beach Homes, Jensen Beach Real Real Estate, Florida Real Estate, Waterfront homes and condos ">
    <meta name="keywords" content="Jensen Beach Real Estate, Jensen Beach Homes, Realtor, Real Estate, Homes, Conods">

    <style>
        .jumbotron {
            padding: 0rem 0rem;
            margin-bottom: 0rem;
            background-color: #fff !important;
            border-radius: 0rem;
        }


        a {
            color: #fff;
            text-decoration: none;
            background-color: transparent;
        }

        a:hover {
            color: #00a7b9;
            text-decoration: underline;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        .dropdown-item {
            font-weight: 900;
            color: black;
            background-color: lightgray;
            border: 0;
        }
    </style>

</head>

<body>
    <!-- Navigation -->
    <%- include('header') %>

    <!-- Main BG Image -->
    <div class="bs-example">
        <div class="jumbotron">
            <img src="static/images/homewhite.jpeg" class=" col-md-12 img-responsive" alt="Florida Real Estate"
                height="500px" />
            <div class="whitehouseimage"></div>
            <p class="lead"></p>
        </div>
    </div>
    <!-- List of cities -->
    <div class="container">
        <div class="row" class="cities" style="color: black;">
            <div class="col-md-12" style="font-size: 50px; padding: 20px">
                <h3 style="text-align: center; font-weight: 900; color: #00a7b9">Palm Beach County<br></h3>
                <h4 style="text-align: center; font-weight: 900; color: black">Select A City To View Real Estate Listed
                    For Sale & Rent </h4>
            </div>

            <div class="col-lg-3 col-sm-6" style="margin-bottom: 10px;">
                <a href="https://realestatehomescondos.com/atlantis"
                    title="Atlantis real estate. View homes and condos for sale & rent"
                    class="btn btn-info btn-lg btn-block">Atlantis</nobr></a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a href="https://floridarealestate247.com/boca-raton"
                    title="Boca Raton real estate. Boca Raton homes. Boca Raton condos"
                    class="btn btn-info btn-lg btn-block">
                    <nobr>Boca Raton</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a href="https://floridarealestate247.com/boynton-beach"
                    title="Boynton Beach real estate. View homes and condos for sale & rent"
                    class="btn btn-info btn-lg btn-block">
                    <nobr>Boynton Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a href="https://floridarealestate247.com/briny-breezes"
                    title="Briny Breezes real estate. View homes and condos for sale & rent"
                    class="btn btn-info btn-lg btn-block">
                    <nobr>Briny Breezes</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/delray-beach"
                    title="Delray Beach real estate. View homes and condos for sale & rent">
                    <nobr>Delray Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/greenacres"
                    title="Greenacres real estate. View homes and condos for sale & rent">
                    <nobr>Greenacres</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/gulf-stream"
                    title="Gulf Stream real estate. View homes and condos for sale & rent">
                    <nobr>Gulf Stream</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/highland-beach"
                    title="Highland Beach real estate. View homes and condos for sale & rent">
                    <nobr>Highland Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/hypoluxo"
                    title="Hypoluxo real estate. Hypoluxo homes condos for sale & rent">
                    <nobr>Hypoluxo</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/juno-beach"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Juno Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jupiter"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Jupiter</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jupiter-inlet"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Jupiter Inlet</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/lake-park"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Lake Clark Shores</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/lake-park"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Lake Park</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/lake-worth"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Lake Worth</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/lantana"
                    title=" real estate. View homes and condos for sale & rent">Lantana</a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/loxahatchee"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Loxahatchee</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/manalapan"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Manalapan</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/north-palm-beach"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>North Palm Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/ocean-ridge"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Ocean Ridge</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/palm-beach"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Palm Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/palm-beach-gardens"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Palm Beach Gardens</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/palm-springs">
                    <nobr>Palm Springs</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/riviera-beach"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Riviera Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/royal-palm-beach"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Royal Palm Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/singer-island"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Singer Island</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/south-palm-beach"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>South Palm Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/tequesta"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Tequesta</nobr>
                </a></button>
            </div>

            <div class="col-md-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/wellington"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>Wellington</nobr>
                </a></button>
            </div>

            <div class="col-md-6" style="margin-bottom: 50px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/west-palm-beach"
                    title=" real estate. View homes and condos for sale & rent">
                    <nobr>West Palm Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-12" style="font-size: 50px; margin-bottom: 10px;">
                </style>
                <h3 style="text-align: center; font-weight: 900; color: #00a7b9">Martin County<br></h3>
                <h4 style="text-align: center; font-weight: 900; color: black">Select A City To View Real Estate Listed
                    For Sale & Rent </h4>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/hobe-sound"
                    title="Hobe Sound real estate. View homes and condos for sale & rent">
                    <nobr>Hobe Sound</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/jensen-beach"
                    title="Jensen Beach real estate. View homes and condos for sale & rent">
                    <nobr>Jensen Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/Indiantown"
                    title="Indiantown real estate. View homes and condos for sale & rent">Indiantown</a></button>
            </div>

            <div class="col-md-3 col-sm-6" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/palm-city"
                    title="Palm City real estate. View homes and condos for sale & rent">
                    <nobr>Palm City</nobr>
                </a></button>
            </div>

            <div class="col-md-4" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/sewalls-point"
                    title="Sewall’s Point real estate. View homes and condos for sale & rent">
                    <nobr>Sewall's Point</nobr>
                </a></button>
            </div>

            <div class="col-md-4" style="margin-bottom: 20px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/stuart"
                    title="Stuart real estate. View homes and condos for sale & rent">Stuart</a></button>
            </div>

            <div class="col-md-4" style="margin-bottom: 50px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/hutchinson-island"
                    title="Hutchinson Island real estate. View homes and condos for sale & rent">
                    <nobr>Hutchinson Island</nobr>
                </a></button>
            </div>

            <div class="col-md-12" style="margin-bottom: 10px; font-size: 50px;">
                </style>
                <h3 style="text-align: center; font-weight: 900; color: #00a7b9">Saint Lucie County<br></h3>
                <h4 style="text-align: center; font-weight: 900; color: black">Select A City To View Real Estate Listed
                    For Sale & Rent </h4>
            </div>

            <div class="col-md-4" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/port-saint-lucie"
                    title="Port Saint Lucie real estate. View homes and condos for sale & rent">
                    <nobr>Port St Lucie</nobr>
                </a></button>
            </div>

            <div class="col-md-4" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/fort-pierce"
                    title="Fort Pierce real estate. View homes and condos for sale & rent">
                    <nobr>Fort Pierce</nobr>
                </a></button>
            </div>

            <div class="col-md-4" style="margin-bottom: 50px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/hutchinson-island"
                    title="Hutchinson Island real estate. View homes and condos for sale & rent">
                    <nobr>Hutchinson Island</nobr>
                </a></button>
            </div>

            <div class="col-md-12" style="margin-bottom: 10px; font-size: 50px;">
                </style>
                <h3 style="text-align: center; font-weight: 900; color: #00a7b9">Indian River County<br></h3>
                <h4 style="text-align: center; font-weight: 900; color: black">Select A City To View Real Estate Listed
                    For Sale & Rent </h4>
            </div>

            <div class="col-md-4" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/vero-beach"
                    title="Vero Beach real estate. View homes and condos for sale & rent">
                    <nobr>Vero Beach</nobr>
                </a></button>
            </div>

            <div class="col-md-4" style="margin-bottom: 10px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/fellsmere"
                    title="Fellsmere real estate. View homes and condos for sale & rent">Fellsmere</a></button>
            </div>

            <div class="col-md-4" style="margin-bottom: 50px;">
                <a class="btn btn-info btn-lg btn-block" href="https://floridarealestate247.com/sebastian"
                    title="Sebastian real estate. View homes and condos for sale & rent">Sebastian</a></button>
            </div>
        </div>
    </div>


    <div class="container">

        <div class="row" class="cities" style="color: black;">
            </style>

            <div class="col-md-6" style="margin-top: 10px; font-weight: 900; padding: 10px; border-right: 6px solid white; color: #fff; font-weight: 600; background-color: #00a7b9; 
      margin-bottom: 0px; font-size: 24px;">
                <img src="/static/images/FLRE247-Logo.gif" alt="Florida Real Estate 24/7 - Jensen Beach Florida" width="330"
                    height="154" align: center; /><br>
                <h2 style="text-align:center;color: #000; font-weight: 900;">Buyers (Cash Back):</h2>
                <p style="text-align:center;">Receive the following percentage from our commission towards your closing
                    cost if we represent you in purchasing a property:</p>
                <p style="text-align:center;">15% - Price Range: $100,000 -> $249,999</p>
                <p style="text-align:center;">20% - Price Range: $250,000 -> $749,999 </p>
                <p style="text-align:center;">25% - Price Range: $750,000 plus</p>
                <p style="text-align:center; font-weight: 900; color: #000; font-size: 28px">Click here for more
                    information</p>
            </div>

            <div class="col-md-6" style="margin-top: 10px; font-weight: 900; padding: 10px; border-right: 6px solid white; color: #fff; font-weight: 600; background-color: #00a7b9; 
      margin-bottom: 0px; font-size: 24px;">
                <img src="/static/images/FLRE247-Logo.gif" alt="Florida Real Estate 24/7 - Jensen Beach Florida" width="330"
                    height="154" align: center; /><BR>

                <h2 style="text-align:center;color: black; font-weight: 900;">Sellers (Full Service):</h2>
                <p style="text-align:center;">Save thousands of $$$ when using our listing service. Our full service
                    listing commission starts as low as 1.50%. Please see below.</p>
                <p style="text-align:center;">2.00% - Price Range: $100,000 -> $249,999</p>
                <p style="text-align:center;">1.75% - Price Range: $250,000 -> $749,999 </p>
                <p style="text-align:center;">1.50% - Price Range: $750,000 plus</p>
                <p style="text-align:center; font-weight: 900; font-size: 28px; color: black;">Click here for more
                    information</p>

            </div>

            <div class="col-md-6" style="margin-top: 20px; font-weight: 900; padding: 10px; border-right: 6px solid white; color: #fff; font-weight: 600; 
                    background-color: #00a7b9; margin-bottom: 0px; font-size: 24px;">
                <img src="/static/images/FLRE247-Logo.gif" alt="Florida Real Estate 24/7 - Jensen Beach Florida" width="330"
                    height="154" align: center; /><br>
                <h2 style="text-align:center; color: #000; font-weight: 900;">Property Alerts</h2>
                <p style="text-align:center;">Save, share, and keep track of your favorites.</p>
                <p style="text-align:center;">Listings will be automatically added.</p>
                <p style="text-align:center;">Alerts can be sent daily, on specific days, weekly, biweekly or no email
                    alerts at all. You just check YOUR PERSONALIZED web portal whenever you decide.</p>
                <p style="text-align:center;">Unsubscribe from email alerts at any time.</p>
                <p style="text-align:center; font-weight: 900; color: #000; font-size: 28px">Let's Get Started</p>
            </div>



            <div class="col-md-6" style="margin-top: 20px; font-weight: 900; padding: 10px; border-right: 6px solid white;color: #fff; font-weight: 600; 
                    background-color: #00a7b9; margin-bottom: 0px; font-size: 24px;">
                <img src="/static/images/FLRE247-Logo.gif" alt="Florida Real Estate 24/7 - Jensen Beach Florida" width="330"
                    height="154" align: center; /><br>

                <h2 style="text-align:center; color: #000; font-weight: 900;">What's My Home Worth</h2>
                <p style="text-align:center;">Real Estate Values Available Instantly!</p>
                <p style="text-align:center;">Step 1:<br>Enter Property Address</p>
                <p style="text-align:center;">Step 2:<br>Enter Email Address</p>
                <p style="text-align:center;">Step 3:<br>Receive Estimated Price Range Of Property</p>
                <p style="text-align:center; font-weight: 900; color: #000; font-size: 28px; color: #000;"><a
                        href="https://floridarealestate247.com/home-value/" title="Atlantis homes for sale">Let's Get
                        Started</a></p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('footer') %>

</body>

</html>