//- layout.pug
html
  head
    title Florida Real Estate 24/7
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  body
    h3 Florida Real Estate 24/7
    block content
    block foot
      #footer
        p this is a footer
