<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Florida Real Estate 24/7 - Phone: 772.444.2305</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Cities</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown">Search MLS</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="map-search.html">Map Search</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="advanced-search.html">Advanced Search</a>

            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown">Sellers</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="our-listing-service.html">Our Listing Service / Deals</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="free-cma.html">Free CMA</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="selling-your-home-fsbo.html">Selling Your Home FSBO?</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown">Buyers</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="first-time-home-buyer.html">First Time Home Buyers</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="find-the-right-home.html">Find The Right Home</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="neighborhood-finder.html">Neighborhood Finder</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="listing-alerts.html">Listing Alert</a>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown">About Us</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="florida-immobilien.html">Florida Immobilien</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="meet-our-agents.html">Meet Our Agents</a>

            <li class="nav-item">
                <a class="nav-link" href="contact-us.html">Contact Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
            </li>
        </ul>
    </div>
</nav>